.me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 5.5em 0 5.5em;
  background-color: #EAF2FD;
}

.me__container {
  margin: 64px;
  background-color: #EAF2FD;
}

.me__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #464646;
  margin-bottom: 1em;
  background-color: #EAF2FD;
}

.me__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 2em;
  color: #464646;
  background-color: #EAF2FD;
}

.me__signature {
    background-color: #EAF2FD;
}
