.projects__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 32px;
  margin-bottom: 53px;
  background-color: #f5f5f5
}

.projects__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.image__content {
  margin-right: 16px;
  margin-left: 16px;
}

.projects__title title__text {
  background-color: aquamarine;
}

.title__content {
  margin: 32px 16px 16px 0;
  background-color: blueviolet;
}

.title__text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #464646;
  background-color: #f5f5f5;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f5f5f5;
}

.text__description {
  background-color: #f5f5f5;
}

.text__main {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
  background-color: #f5f5f5;
  color: #464646;
}

.text__sub {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
  background-color: #f5f5f5;
  color: #464646;
}

.description__buttons {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #f5f5f5;
}

.button__repositorio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-right: 16px;
  width: 108px;
  height: 40px;
  color: #2a7ae4;
  border: 1px solid #2a7ae4;
}

.button__demo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  width: 108px;
  height: 40px;
  color: #ffffff;
  background-color: #2a7ae4;
}

.text__contact {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #464646;
}

.contact__input {
  width: 656px;
  height: 56px;
  margin-top: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #464646;
  border: none;
  background: #ffffff;
  border-radius: 4px;
}

.contact__area {
  width: 656px;
  margin-top: 32px;
  resize: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #464646;
  border: none;
  background: #ffffff;
  border-radius: 4px;
}

.button__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  width: 165px;
  height: 51px;
  color: #ffffff;
  margin-top: 28px;
  background-color: #2a7ae4;
}

.button__submit:disabled {
  color: #bbbbbb;
  background-color: #cccccc;
  border: none;
}

.rodape__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #464646;
}
